@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700&family=Nanum+Myeongjo:wght@400;700&display=swap');

/* .vtt .window-app input,
.vtt .window-app button,
.vtt .window-app select,
.vtt .window-app textarea,
.vtt .window-app button,
.vtt #chat-log .message,
.dungeonworld {
  font-family: "Roboto", "Noto Sans KR", serif;
}

.vtt .window-header,
.vtt #chat-log .cell__title,
.dungeonworld.sheet .input--title,
.dungeonworld.sheet label,
.dungeonworld.sheet h2,
.dungeonworld.sheet h3,
.dungeonworld.sheet h4,
.dungeonworld.sheet .cell__title {
  font-family: "Martel", "Noto Serif KR", serif;
} */

.vtt .window-header,
.vtt #chat-log .cell__title,
.vtt #chat-log h1,
.vtt #chat-log h2,
.vtt #chat-log h3,
.vtt #chat-log h4,
.vtt #chat-log h5,
.vtt .sidebar-tab #combat-round h3,
.vtt .sidebar-tab .directory-item--group,
.vtt .sidebar-tab .combat-control[data-control="endCombat"],
.vtt .sidebar-tab .combat-control[data-control="startCombat"],
.vtt .sidebar-tab .actor-elem .ct-item--moves,
.dungeonworld.sheet .input--title,
.dungeonworld.sheet label,
.dungeonworld.sheet h1,
.dungeonworld.sheet h2,
.dungeonworld.sheet .cell__title,
.dungeonworld.sheet .cell__subtitle,
.dungeonworld.sheet .class .cell__title input[type="text"] {
  font-family: "Metamorphous", "Noto Serif KR", serif;
}

.vtt .window-app input,
.vtt .window-app button,
.vtt .window-app select,
.vtt .window-app textarea,
.vtt .window-app button,
.vtt #chat-log .message,
.vtt .sidebar-tab,
.vtt .sidebar-tab .ct-item button,
.dungeonworld,
.dungeonworld.sheet h3,
.dungeonworld.sheet h4,
.dungeonworld.sheet h5,
.dungeonworld.sheet h6,
.dungeonworld.sheet .cell__title.error, .dungeonworld.sheet .cell__title.warning,
.dungeonworld.sheet .cell__subtitle.error,
.dungeonworld.sheet .cell__subtitle.warning {
  font-family: "Alegreya", "Nanum Myeongjo", serif;
}